@font-face {
  font-family: "FONTSPRING DEMO - Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFMediumItalic.woff2")
      format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFMediumRegular.woff2")
      format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFMediumRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFHeavyItalic.woff2")
      format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFHeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF Demi";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFDemiBoldRegular.woff2")
      format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFDemiBoldRegular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF Extra";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFExtraBoldItalic.woff2")
      format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF Extra";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFExtraBoldRegular.woff2")
      format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFExtraBoldRegular.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF Demi";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFDemiBoldItalic.woff2")
      format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFBoldItalic.woff2") format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2")
      format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFRegular.woff2") format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFHeavyRegular.woff2")
      format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFHeavyRegular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFItalic.woff2") format("woff2"),
    url("../fonts/FONTSPRINGDEMO-IntegralCFItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BlackItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
    url("../fonts/Satoshi-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "false";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("../fonts/SatoshiVariable-BoldItalic.woff2") format("woff2"),
    url("../fonts/SatoshiVariable-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("../fonts/SatoshiVariable-Bold.woff2") format("woff2"),
    url("../fonts/SatoshiVariable-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "false";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BlackItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "false";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "false";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "false";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
    url("../fonts/Satoshi-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "false";
  src: url("../fonts/false.woff2") format("woff2"),
    url("../fonts/false.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
