* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: none;
}
input {
  outline: none;
  border: none;
}
main {
  position: relative;
}
