$main-font: "FONTSPRING DEMO - Integral CF";
$main-color: #000;
$bg-color: #f0f0f0;
$bg-second-color: #fff;
$second-font: "Satoshi";
$star-color: #ffc633;
$green-color: #01ab31;
$grey: #ccc;
$purple: #94a8ee;
$red: #ed3d3d;
$star: gold;
$popular-font-size: 20px;
$whiteish: #ffffff80;
$shadow-color: #e9444b40;
$input-brdr-color: #00000040;
