.footer {
  padding-top: 132px;
  background-color: #f0f0f0;
  z-index: -1;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  flex-direction: column;
}
.footer__logo_link {
  font-size: 33.45px;
  color: $main-color;
  font-family: $main-font;
  font-weight: 700;
}
.footer__text {
  font-family: $second-font;
  width: 248px;
  margin-top: 25px;
  margin-bottom: 35px;
  color: #00000099;
}
.footer__icon_list {
  display: flex;
  column-gap: 12px;
}
.footer__item_icon:hover {
  background-color: $main-color;
  .footer__icon_link {
    color: $bg-second-color;
  }
}
.footer__item_icon {
  padding: 7px;
  border: 1px solid #00000033;
  border-radius: 50%;
  transition: all ease 0.3s;
}
.footer__icon_link {
  color: $main-color;
  transition: all ease 0.3s;
}

.footer__icon {
  font-size: 15px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}
.footer__subtitle {
  font-size: 16px;
  line-height: 18px;
  font-family: $second-font;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer__href {
  font-size: 16px;
  line-height: 19px;
  color: #00000099;
  font-family: $second-font;
}

.footer__line {
  max-width: 1240px;
  height: 2px;
  border-radius: 20px;
  background-color: #0000001a;
  display: block;
  margin-top: 50px;
  margin-bottom: 25px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__botm_text {
  font-family: $second-font;
  font-size: 14px;
  color: #00000099;
}
.footer__pay_list {
  display: flex;
  column-gap: 12px;
}
.footer__pay_item {
  padding: 9px;
  background-color: $bg-second-color;
  border-radius: 5.38px;
}
@media (max-width: 391px) {
  .footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 89px;
  }
  .footer__left {
    grid-column: 1 / 3;
  }
  .footer__links {
    column-gap: 16px;
  }
  .footer__list {
    column-gap: 12px;
  }
  .footer__href {
    font-size: 14px;
  }
  .footer__subtitle {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 3px;
  }
  .footer__text {
    font-size: 14px;
    width: 357px;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .footer__botm_text {
    font-size: 14px;
  }
}
