.review {
}
.rew__inner {
  display: flex;
  flex-direction: column;
}
.rew__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rew__left {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.rew__title {
  font-family: $second-font;
  font-size: 24px;
  column-gap: $main-color;
  line-height: 24px;
}
.rew__num {
  color: #00000099;
  font-family: $second-font;
  line-height: 22px;
  margin-top: 6px;
}
.rew__right {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.rew__set {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 62px;
  background-color: #f0f0f0;
}
.rew__icon {
  font-size: 24px;
  font-weight: 400;
  transform: rotate(-90deg);
}
.rew__new {
  display: flex;
  column-gap: 21px;
  padding: 13px 20px;
  border-radius: 62px;
  align-items: center;
}
.rew__new_text {
  font-family: $second-font;
  font-weight: 500;
}
.rew__new_icon {
}
.rew__btn {
  background-color: $main-color;
  padding: 13px 30px;
  width: max-content;
  border-radius: 62px;
}
.rew__link {
  color: $bg-second-color;
  font-size: 16px;
  font-family: $second-font;
  font-weight: 500;
  width: max-content;
}
.rew__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.rew__item {
  display: flex;
  flex-direction: column;
  padding: 28px 32px;
  border-radius: 20px;
  border: 1px solid #0000001a;
}
.rew__item_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .star {
    font-size: 30px;
  }
}
.rew__rating {
  display: flex;
  align-items: center;
}
.rew__item_icon {
  margin-top: 6px;
}
.rew__name {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-top: 15px;
}
.rew__subtitle {
  font-family: $second-font;
  font-size: 20px;
  line-height: 22px;
}
.rew__name_icon {
  color: $green-color;
  font-size: 20px;
}
.rew__text {
  color: #00000099;
  font-family: $second-font;
  margin-top: 12px;
  margin-bottom: 24px;
}
.rew__date {
  color: #00000099;
  font-family: $second-font;
}
@media (max-width: 391px) {
  .rew__title {
    font-size: 20px;
  }
  .rew__num {
    font-size: 14px;
    line-height: 22px;
  }
  .rew__icon {
    font-size: 16px;
  }
  .rew__set {
    padding: 10px;
  }
  .rew__new {
    display: none;
  }
  .rew__btn {
    padding: 12px 16px;
  }
  .rew__link {
    font-size: 12px;
  }
  .rew__right {
    column-gap: 8px;
  }
  .rew__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 15px;
  }
  .rew__left {
    column-gap: 6px;
  }
  .rew__item_top {
    .star {
      font-size: 25px;
    }
    .rew__item_icon {
      display: none;
    }
  }
  .rew__subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .rew__name_icon {
    font-size: 19px;
    //   margin-top: 3px;
    margin-bottom: 2px;
  }
  .rew__name {
    margin-top: 12px;
  }
  .rew__text {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 16px;
    line-height: 20px;
  }
  .rew__date {
    line-height: 22px;
    font-size: 14px;
  }
  .rew__item {
    padding: 24px;
  }
}
