.style {
  padding-top: 80px;
}
.style__inner {
  display: flex;
  flex-direction: column;
  padding: 70px 64px 76px;
  font-family: $main-font;
  background-color: #f0f0f0;
  border-radius: 40px;
  row-gap: 64px;
}
.style__title::selection {
  color: $bg-second-color;
  background-color: $main-color;
}
.style__item::selection {
  color: $bg-second-color;
  background-color: $main-color;
}
.style__title {
  font-size: 48px;
  text-align: center;
}
.style__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  font-family: $second-font;
}
.style__item:nth-child(4) {
  padding: 25px 257px 215px 36px;
  background-image: url("../../src/style__img_gym.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}
.style__item:nth-child(3) {
  grid-column: 1 / 3;
  background-image: url("../../src/style__img_gurl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 25px 532px 215px 36px;
}
.style__item:nth-child(2) {
  grid-column: 2 / 4;
  padding: 25px 532px 215px 36px;
  background-image: url("../../src/style__image 13.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}
.style__item:nth-child(1) {
  padding: 25px 257px 215px 36px;
  grid-column: 1 / 2;
  background-image: url("../../src/style__img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.style__item {
  background-color: #fff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 36px;
}

@media (max-width: 391px) {
  .style {
    padding-top: 50px;
  }
  .style__title {
    line-height: 36px;
    font-size: 32px;
    width: 246px;
    margin: 0 auto;
  }
  .style__inner {
    padding: 40px 24px;
    row-gap: 28px;
  }
  .style__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 16px;
  }
  .style__item:nth-child(2) {
    grid-column: 1 / 2;
    padding: 16px 209px 142px 24px;
    background-size: cover;
    background-position: -69px 0;
  }
  .style__item:nth-child(3) {
    grid-column: 1 / 2;
    padding: 16px 209px 142px 24px;
    background-size: cover;
    background-position: -69px 0;
  }
  .style__item:nth-child(4) {
    grid-column: 1 / 2;
    padding: 16px 209px 142px 24px;
  }
  .style__item:nth-child(1) {
    grid-column: 1 / 2;
    padding: 16px 209px 142px 24px;
  }
  .style__item {
    font-size: 24px;
  }
}
